<section class="success top_padding">
  <div class="container">
    <div ng-show="vm.myGames">

      <div class="col-xs-12 text-center">
        <h1>My Games</h1>
      </div>

      <div class="table_headings col-md-12">
        <div class="col-md-5">ID</div>
        <div class="col-md-2">Type</div>
        <div class="col-md-2">Current Players</div>
        <div class="col-md-3">Join</div>
      </div>

      <div class="col-xs-12"  ng-repeat="game in vm.myGames">
        <div class="small_padding">
          <div class="col-md-5">
            {{game.id}}
          </div>
          <div class="col-md-2">
            {{game.type}}
          </div>
          <div class="col-md-2">
            {{game.currentplayers}} / {{game.maxplayer}}
          </div>
          <div class="col-md-3">
            <div ng-click="vm.joingame(game.id)" class="btn btn-default">
              Join game
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="col-xs-12 text-center">
      <h1>All Games</h1>
    </div>

    <div class="table_headings col-md-12">
      <div class="col-md-5">ID</div>
      <div class="col-md-2">Type</div>
      <div class="col-md-2">Current Players</div>
      <div class="col-md-3">Join</div>
    </div>

    <div class="col-md-12 small_padding"  ng-repeat="game in vm.allgames">
      <div class="col-md-5">
        {{ game.Id }}
      </div>
      <div class="col-md-2">
        {{ game.type }}
      </div>
      <div class="col-md-2">
        {{game.CurrentPlayers}} / {{game.MaxPlayers}}
      </div>
      <div class="col-md-3">
        <div class="btn btn-default" ng-click="vm.joingame(game.Id)">
          Join game
        </div>
      </div>
    </div>




  </div>
</section>

<section>
  <div class="container">
    <div ng-click="vm.create()" class="col-xs-4 col-xs-offset-4 btn btn-default green_button">
      Create a Game
    </div>
  </div>
</section>
