<div class="col-xs-12 text-center">
  <h1>My Games</h1>
</div>

<div class="col-xs-12"  ng-repeat="game in vm.myGames">
  <div class="col-xs-2">
    {{game.id}}
  </div>
  <div class="col-xs-2">
    type: {{game.type}}
  </div>
  <div class="col-xs-2">
    current Players: {{game.currentplayers}} \ {{game.maxplayer}}
  </div>
  <div ng-click="vm.joingame(game.id)" class="col-xs-4 btn btn-default">
    Join game
  </div>
</div>

<div class="col-xs-12 text-center">
  <h1>All Games</h1>
</div>

<div class="col-md-12"  ng-repeat="game in vm.allgames">
  <div class="col-md-4">
    {{ game.Id }}
  </div>
  <div class="col-md-2">
    type: {{ game.type }}
  </div>
  <div class="col-md-2">
    current Players: {{game.CurrentPlayers}} \ {{game.MaxPlayers}}
  </div>
  <div ng-click="vm.joingame(game.id)" class="col-md-4 btn btn-default">
    Join game
  </div>
</div>

<div ng-click="vm.create()" class="col-xs-12 btn btn-default">
  Create a Game
</div>
