<div class="col-xs-12 text-center">
  <h1>My Games</h1>
</div>

<div class="col-xs-12" ng-show="vm.myGames" ng-repeat="game in vm.myGames">
  <div class="col-xs-2">
    {{game.id}}
  </div>
  <div class="col-xs-2">
    type: {{game.type}}
  </div>
  <div class="col-xs-2">
    current Players: {{game.currentplayers}} \ {{game.maxplayer}}
  </div>
  <div ng-click="vm.joingame(game.id)" class="col-xs-4">
    Join game
  </div>
</div>

<div class="col-xs-12 text-center">
  <h1>All Games</h1>
</div>

<div class="col-xs-12" ng-show="vm.allgames" ng-repeat="game in vm.allgames">
  <div class="col-xs-8">
    {{game}}
  </div>
  <div class="col-xs-2">
    type: {{game.type}}
  </div>
  <div class="col-xs-2">
    current Players: {{game.currentplayers}} \ {{game.maxplayer}}
  </div>
  <div ng-click="vm.joingame(game.id)" class="col-xs-4">>
    Join game
  </div>
</div>

<div ng-click="vm.create()" class="col-xs-12 btn btn-classic">
  Create a Game
</div>
